mixin video(videoInfo)
    div 
      h4=videoInfo.title
      ul 
          li #{videoInfo.rating}/5
          li #{videoInfo.comments}
          li Posted #{videoInfo.cratedAt}
          li #{videoInfo.views} view